<!doctype html>
<html style="background-color: #ffffff;">
<head>
    <title>Publication Genealogy</title>
    <!--<link href="css/angular-bootstrap.css" rel="stylesheet">-->
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>

    <link rel="stylesheet"
          type="text/css"
          href="./../css/index.css"/>

    <link rel="stylesheet"
          type="text/css"
          href="./../css/table.css"/>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.css"/>

</head>

<body ng-app="app" style="background-color: #ffffff;">
<!--<div class="container">
    <h1>Greeting</h1>
    <div ng-controller="home" ng-cloak class="ng-cloak">
        <p>The ID is {{greeting.id}}</p>
        <p>The content is {{greeting.content}}</p>
    </div>
</div>-->

<!--style="width: 100%; height: 100vh; overflow: hidden"-->
<div class="container ng-cloak"
     ng-controller="Nvd3Controller"
     style="background-color: #ffffff;"
     ng-cloak>

    <div class="container" style="float:left; width: 50%; border-right: 1px solid black; padding-right: 15px">

        <section id="login">
            <!--<div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-wrap">-->
            <h1>{{pageTitle}}</h1>
            <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                <div class="form-group">
                    <!--<input id="author-radio" type="radio" name="search" value="author">-->
                    <!--<input type="text" name="email" id="author" class="form-control text-box"
                           placeholder="Search by Author">-->
                    <input ng-model="result"
                           type="radio"
                           name="search"
                           ng-value="'author'">

                    <input ng-model="authorName"
                           type="text"
                           name="author-search"
                           id="author"
                           class="form-control text-box"
                           style="width: 80%"
                           placeholder="Search by Author">
                </div>
                <div class="form-group">
                    <input ng-model="result"
                           type="radio"
                           name="search"
                           ng-value="'paper'">

                    <input ng-model="paperName"
                           type="text"
                           name="paper-search"
                           id="paper"
                           class="form-control text-box"
                           style="width: 80%"
                           placeholder="Search by Paper title/keyword">
                </div>

                <div class="form-group">
                    <input ng-model="result"
                           type="radio"
                           name="search"
                           ng-value="'paperCitation'">

                    <input ng-model="topic"
                           type="text"
                           name="paper-cite-search"
                           id="paperCitation"
                           class="form-control text-box"
                           style="width: 80%"
                           placeholder="Search top cited papers for a topic">
                </div>

                <div class="form-group">
                    <input ng-model="result"
                           type="radio"
                           name="search"
                           ng-value="'conference'">

                    <span>Top: </span>
                    <select name="singleSelect"
                            id="singleSelect"
                            ng-model="topValue"
                            style="background-color: white;
                                    width: 100px;
                                    -webkit-appearance: none;
                                    border-radius: 0px;
                                    border-color: rgb(224, 224, 224) !important;">
                        <option ng-repeat="top in topValues" value="{{top}}">{{top}}</option>
                    </select>

                    <div style="padding: 10px 0px 0px 27px !important; width: 84%;" class="form-control text-box">
                        <md-autocomplete md-style="font-size: 17px !important;"
                                         md-selected-item="conferenceName"
                                         md-search-text="searchText"
                                         md-items="conference in getConferences(searchText)"
                                         md-item-text="conference"
                                         placeholder="Search conference to see top authors"
                                         md-no-cache="true">
                            <md-item-template>
                                <span md-highlight-text="searchText">{{conference}}</span>
                            </md-item-template>
                            <md-not-found>
                                No matches found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>

                    <!--<input ng-model="conferenceName"-->
                    <!--type="text"-->
                    <!--name="conference-search"-->
                    <!--id="conference"-->
                    <!--class="form-control text-box"-->
                    <!--style="width: 50%"-->
                    <!--placeholder="Search top authors for a Conference">-->

                </div>

                <div class="form-group" style="display: flex; align-items: center; justify-content: center;">

                    <input type="button"
                           id="btn-login"
                           class="btn btn-custom btn-lg btn-block button-custom"
                           value="Search"
                           ng-click="searchPublication()"
                           align="center">
                </div>
            </form>

            <hr>

            <!--</div>
        </div> <!-- /.col-xs-12 -->
            <!--</div> <!-- /.row -->
            <!--</div>-->

            <!-- /.container -->
            <div style="height:350px; overflow:auto;">

                <img id="SpinnerForTable"
                     style="margin-top: 10%; margin-left: 25%;"
                     src="./../images/Interwind.gif"
                     ng-show="loadingSpinnerForTable"/>

                <table class="responstable"
                       id="author-table"
                       ng-show="predicate === 'author'">

                    <thead>
                    <th>Authors</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="author in authors">
                        <td ng-click="getAuthorInfo(author)">
                            {{author.name}}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="responstable"
                       id="paper-table"
                       ng-show="predicate === 'paper'">
                    <thead>
                    <th>Papers</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="paper in papers">
                        <td ng-click="getPaperInfo(paper)">
                            {{paper.title}}
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </section>
    </div>

    <div style="margin-left: 53%; padding: 0px 15px 15px 15px;">

        <img id="mySpinner"
             style="margin-top: 40%; margin-left: 25%;"
             src="./../images/Interwind.gif"
             ng-show="loading"/>

        <div ng-show="infoTablePaper">

            <h1>Paper Info<input style="float: right" type="button"
                                 ng-class="{'btn btn-custom btn-lg btn-block button-custom': foundCoAuthors, 'btn btn-block': !foundCoAuthors}"
                                 ng-disabled="!foundCoAuthors" value="Show Graph" ng-click="showAuthorGraph()"></h1>
            <p><label><b>Title:</b> </label> {{selectedPaper.title}}</p>
            <p><label><b>Conference Name:</b> </label> {{selectedPaper.conferenceName}}</p>
            <p><label><b>Book Title:</b> </label> {{selectedPaper.bookTitle}}</p>
            <p><label><b>Year:</b></label> {{selectedPaper.year}}</p>
            <p><label><b>Authors:</b></label></p>
            <ul ng-repeat="selectedPaperAuthor in selectedPaperAuthors">
                <li>{{selectedPaperAuthor.name}}</li>
            </ul>
        </div>

        <div ng-show="infoTableAuthor" style="overflow: scroll">

            <h1>Author Info<input style="float: right" type="button"
                                  class="btn btn-custom btn-lg btn-block button-custom" value="Show Graph"
                                  ng-click="showPaperGraph()"></h1>
            <p><label><b>Name:</b> </label> {{selectedAuthor.name}}</p>
            <p><label><b>Affiliation:</b> </label> {{selectedAuthor.affiliation}}</p>
            <p><label><b>Web URL:</b></label>
                <a ng-show="selectedAuthor.url !== 'None'" href={{selectedAuthor.url}} target="_blank">
                    {{selectedAuthor.url}} </a>
                <span ng-show="selectedAuthor.url === 'None'">{{selectedAuthor.url}}</span>
            </p>
            <p><label><b>Papers:</b></label></p>

            <div style="height:300px; overflow:auto;">
                <table class="responstable">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Conference Name</th>
                        <th>Year</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="paper in selectedAuthorPapers">
                    <tr>
                        <td>{{paper.paperTitle}}</td>
                        <td>{{paper.confName}}</td>
                        <td>{{paper.year}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-show="selectedAuthorConferences.length > 0">
                <p><label><b>Conferences:</b></label></p>
                <div style="height:300px; overflow:auto;">
                    <table class="responstable">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Year</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="conference in selectedAuthorConferences">
                        <tr>
                            <td>{{conference.name}}</td>
                            <td>{{conference.title}}</td>
                            <td>{{conference.year}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div ng-show="infoTableTopCitedPapers">

            <h1>Top cited papers for {{topic}}<input style="float: right" type="button"
                                                     class="btn btn-custom btn-lg btn-block button-custom"
                                                     value="Show Graph" ng-click="showTopCitedPapers()"></h1>
            <div style="height: 100vh; overflow: scroll">
                <div ng-repeat="paper in topCitedPapers">
                    <p><label><b>Title:</b> </label> {{paper.title}}</p>
                    <ul>
                        <li>Year: {{paper.year}}</li>
                        <li>Number of Citations: {{paper.citations}}</li>
                        <li>Citations' List: <a ng-show="paper.citationsList !== null" href={{paper.citationsList}}
                                                target="_blank"> {{paper.citationsList}} </a>
                            <span ng-show="paper.citationsList === null">Not available</span></li>
                        <li>URL: <a ng-show="paper.url !== null" href={{paper.url}} target="_blank"> {{paper.url}} </a>
                            <span ng-show="paper.url === null">Not available</span></li>
                        <li>PDF link: <a ng-show="paper.pdfLink !== null" href={{paper.pdfLink}} target="_blank">
                            {{paper.pdfLink}} </a>
                            <span ng-show="paper.pdfLink === null">Not available</span></li>
                        <li>Excerpt: ... {{paper.excerpt}} ...</li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-show="infoTableAuthorByConference">

            <h1>Top authors for {{conferenceName}}<input style="float: right" type="button"
                                                         class="btn btn-custom btn-lg btn-block button-custom"
                                                         value="Show Graph" ng-click="showAuthorConfGraph()"></h1>
            <div style="height: 100vh; overflow: scroll">
                <div ng-repeat="author in authorsForConf">
                    <p><label><b>Author:</b> </label> {{author.name}}</p>
                    <ul>
                        <li>Affiliation: {{author.affiliation}}</li>
                        <li>URL: <a ng-show="author.url !== 'None'" href={{author.url}} target="_blank">
                            {{author.url}} </a>
                            <span ng-show="author.url === 'None'">{{author.url}}</span></li>
                        <li>Papers published in {{conferenceName}}: {{author.paperCount}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-show="showAuthorChats">
            <h1>Co-authors worked with in year {{selectedPaper.year}}</h1>
            <nvd3 options="options" data="data"></nvd3>
        </div>

        <div ng-show="showChats">

            <fusioncharts
                    width="500"
                    height="500"
                    type="pie3d"
                    datasource="{{myDataSource}}">
            </fusioncharts>
        </div>

        <div ng-show="showCitationCharts">

            <fusioncharts
                    style="fill-opacity: 0 !important;"
                    width="600"
                    height="400"
                    type="column2d"
                    datasource="{{newDataSource}}">

            </fusioncharts>
        </div>

        <div ng-show="showConfAuthorCharts">

            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>

<!-- FusionCharts library-->
<script type="text/javascript" src="./../js/fusioncharts/fusioncharts.js"></script>
<script type="text/javascript" src="./../js/fusioncharts/fusioncharts.charts.js"></script>
<script type="text/javascript" src="./../js/fusioncharts/fusioncharts.theme.fint.js"></script>

<!-- Angular plugin -->
<script type="text/javascript" src="./../js/fusioncharts/angular-fusioncharts.min.js"></script>

<!--<script type="text/javascript" src="./../js/filters/authorFilter.js"></script>-->
<script type="text/javascript" src="./../js/nvd3.js"></script>
<script type="text/javascript" src="./../js/service.js"></script>
</body>
</html>